{% extends 'base.html.twig' %}

{% block title %}
	Animal :
	{{ animal.nom }}
{% endblock %}

{% block monTitre %}
	Voici l'animal
	{{ animal.nom }}
{% endblock %}

{% block body %}
	<div class="row align-items-center">
		<div class="col-2 text-center">
			<img src="{{ asset('images/' ~ animal.image) }}" alt="">
		</div>
		<div class="col-auto">
			<p>
				{{ animal.description }}
			</p>
			<p>
				Poids moyen :
				{{ animal.poids }}
			</p>
			<p>
				Dangereux :
				{% if animal.dangereux %}
					<span class="badge badge-danger">Oui</span>
				{% else %}
					<span class="badge badge-success">Oui</span>
				{% endif %}
			</p>
			<p>
				Famille :
				<a href="{{ path('afficher_famille', { 'id' : animal.famille.id }) }}" class="btn btn-primary">
					{{ animal.famille.libelle }}
				</a>
			</p>
			<div>
				<p>
					Présence de l'animal dans les continents suivants :
				</p>
				<ul class="list-group list-group-horizontal">
					{% for continent in animal.continents %}
						<li class="list-group-item list-group-item-info">
							<a href="{{ path('afficher_continent', { 'id' : continent.id }) }}">
								{{ continent.libelle|capitalize }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
