{% extends 'base.html.twig' %}

{% block title %}
	Page d'accueil
{% endblock %}

{% block monTitre %}
	Voici la liste des animaux
{% endblock %}

{% block body %}
	{% for animal in animaux %}
		<div class="row align-items-center">
			<div class="col-2 text-center">
				<img class="img-fluid" src="{{ asset('images/' ~ animal.image) }}" alt="">
			</div>
			<div class="col-auto">
				<h2>
					<a href="{{ path('afficher_animal', { 'id' : animal.id }) }}">
						{{ animal.nom }}
					</a>
				</h2>
				<p>
					{{ animal.description }}
				</p>
				<p>
					Famille :
					<a href="{{ path('afficher_famille', { 'id' : animal.famille.id }) }}" class="btn btn-primary">
						{{ animal.famille.libelle }}
					</a>
				</p>
				<div>
					<p>
						Présence de l'animal dans les continents suivants :
					</p>
					<ul class="list-group list-group-horizontal">
						{% for continent in animal.continents %}
							<li class="list-group-item list-group-item-info">
								<a href="{{ path('afficher_continent', { 'id' : continent.id }) }}">
									{{ continent.libelle|capitalize }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div>
					<p>
						Personnes disposant de l'animal :
					</p>
					<ul class="list-group list-group-horizontal">
						{% for dispose in animal.disposes %}
							<li class="list-group-item">
								<a href="{{ path('afficher_personne', { 'id' : dispose.personne.id }) }}">
									{{ dispose.personne.nom|capitalize }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
