{% extends 'base.html.twig' %}

{% block title %}
	Page de la personne
	{{ personne.nom }}
{% endblock %}

{% block monTitre %}
	Page de la personne
	{{ personne.nom }}
{% endblock %}

{% block body %}
	<div class="row align-items-center">
		{% for dispose in personne.disposes %}
			<div class="col-6">

				<div class="text-center">
					<img class="img-fluid" src="{{ asset('images/' ~ dispose.animal.image) }}" alt="">
				</div>
				<div class="col text-center">
					<h2>
						<a href="{{ path('afficher_animal', { 'id' : dispose.animal.id }) }}">
							{{ dispose.animal.nom }}
						</a>
					</h2>
					<p>
						{{ dispose.animal.description }}
					</p>
					<p>
						Famille :
						<a href="{{ path('afficher_famille', { 'id' : dispose.animal.famille.id }) }}" class="btn btn-primary">
							{{ dispose.animal.famille.libelle }}
						</a>
					</p>
					<div>
						<p>
							Présence de l'animal dans les continents suivants :
						</p>
						<ul class="list-group list-group-horizontal">
							{% for continent in dispose.animal.continents %}
								<li class="list-group-item list-group-item-info">
									<a href="{{ path('afficher_continent', { 'id' : continent.id }) }}">
										{{ continent.libelle|capitalize }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>

				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
